@import "main.scss";

$circ-rad: 60px;

.Day{
  text-align: -webkit-center;
  background-color: #EEE;
  width: 1 / 7 * 100%;
  height: 150px;
  float: left;
  display: inline-block;
  .Day-decorator{
    width:$circ-rad;
    height: $circ-rad;
    border-radius: 500vh;
    margin: 50px 0;
    text-align: center;
    h3{
      margin:0;
      line-height: $circ-rad;
      text-align: center;
      display: inline-block;
    }
  }
}

.Day-current .Day-decorator{

    -webkit-transition: background-color 0.8s ease;
    -moz-transition: background-color 0.8s ease;
    transition: background-color 0.8s ease;
    background-color: $accent-color;
    border: 0px solid $accent-color;
    color: white;
}

.Day:hover{
  background-color: #f5f5f5;
  font-size: 2em;
  .Day-decorator{

  }
}

.Day-notmonth, .Day-notmonth:hover{
  background-color: #999;
  font-size:inherit;
}

.Day-done{
  background-color: lightgreen;
}
