@import "main.scss";

.Month{
  background-color: white;
  float:left;
  width:$cal-width;
  h3{
    text-align: center;
  }
  .day-name{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      text-transform: uppercase;
      text-align: center;
      width: 1 / 7 * 100%;
      display: inline-block;
    }
  }
}
