@import "main.scss";

.Month{
  background-color: white;
  float:left;
  width:$cal-width;
  .topbar{
    text-align: center;
    margin: 40px 0;
  }
  h3{
    text-align: center;
    display: inline;
  }
  .day-name{
    margin: 20px 0;

    list-style: none;
    padding: 0;

    li{
      text-transform: uppercase;
      text-align: center;
      width: 1 / 7 * 100%;
      display: inline-block;
    }
  }
}
